;; for local development
{:paths ["datapotato/test"
         "datapotato-fixtures-next-jdbc/test"]
 :deps  {club.donutpower/datapotato                    {:local/root "datapotato"}
         club.donutpower/datapotato-fixtures-next-jdbc {:local/root "datapotato-fixtures-next-jdbc"}
         com.github.seancorfield/next.jdbc             {:mvn/version "1.2.737"}
         io.github.cognitect-labs/test-runner          {:git/tag "v0.5.0" :git/sha "48c3c67"}
         metosin/malli                                 {:mvn/version "0.7.5"}
         org.xerial/sqlite-jdbc                        {:mvn/version "3.36.0.3"}}}
