{:paths ["src"]

 :deps {aysylu/loom             {:mvn/version "1.0.2"}
        dev.weavejester/medley  {:mvn/version "1.7.0"}
        better-cond/better-cond {:mvn/version "2.1.5"}
        org.clojure/spec.alpha  {:mvn/version "0.3.218"}}

 :donut/lib {:name           party.donut/datapotato
             :description    "db fixtures for clojure"
             :github         "donut-party/datapotato"
             :version-prefix "1.0"}

 :aliases
 {:test
  {:extra-paths ["test"]
   :extra-deps  {org.clojure/test.check               {:mvn/version "0.9.0"}
                 io.github.cognitect-labs/test-runner {:git/tag "v0.5.0" :git/sha "48c3c67"}
                 metosin/malli                        {:mvn/version "0.8.9"}
                 nubank/matcher-combinators           {:mvn/version "3.5.1"}}
   :exec-fn     cognitect.test-runner.api/test}

  :test-cljs
  {:extra-paths ["test"]
   :extra-deps  {org.clojure/test.check     {:mvn/version "0.9.0"}
                 olical/cljs-test-runner    {:mvn/version "3.8.0"}
                 metosin/malli              {:mvn/version "0.8.9"}
                 nubank/matcher-combinators {:mvn/version "3.5.1"}}
   :exec-fn     cljs-test-runner.main/-main}

  :build
  {:deps       {io.github.donut-party/framework-build
                {:git/sha "912e0b0ffc914cf1b5824650268307062d92e40c"}}
   :ns-default donut.build}}}
