version: 2
jobs:
  test-and-build:
    environment:
      - _JAVA_OPTIONS: "-Xms512m -Xmx1024m"
    docker:
      - image: cimg/clojure:1.11.1-openjdk-8.0-node
    steps:
      - checkout

      # core
      - run:
          name: test datapotato clj
          command: cd datapotato && clojure -X:test
      - run:
          name: test datapotato cljs
          command: cd datapotato && clojure -X:test-cljs
      - run:
          name: Install bb
          command: |
            sudo bash < <(curl -s https://raw.githubusercontent.com/babashka/babashka/master/install)
      - run:
          name: Run bb tests
          command: cd datapotato && bb test
      - run:
          name: Build datapotato
          command: cd datapotato && clojure -T:build jar

      # next-jdbc
      - run:
          name: test datapotato-next-jdbc clj
          command: cd datapotato-next-jdbc && clojure -X:test
      - run:
          name: Build datapotato-next-jdbc
          command: cd datapotato-next-jdbc && clojure -T:build jar

      # clojure-java-jdbc
      - run:
          name: test datapotato-clojure-java-jdbc clj
          command: cd datapotato-clojure-java-jdbc && clojure -X:test
      - run:
          name: Build datapotato-clojure-java-jdbc
          command: cd datapotato-clojure-java-jdbc && clojure -T:build jar



          # xtdb
          # xtdb test hangs for some reason :(
      # - run:
      #     name: test datapotato-xtdb clj
      #     command: cd datapotato-xtdb && clojure -X:test
      - run:
          name: Build datapotato-xtdb
          command: cd datapotato-xtdb && clojure -T:build jar


          # datomic
      - run:
          name: test datapotato-datomic clj
          command: cd datapotato-datomic && clojure -X:test
      - run:
          name: Build datapotato-datomic
          command: cd datapotato-datomic && clojure -T:build jar

          # fluree
      - run:
          name: test datapotato-fluree clj
          command: cd datapotato-fluree && clojure -X:test
      - run:
          name: Build datapotato-fluree
          command: cd datapotato-fluree && clojure -T:build jar


      - save-cache:
          paths:
            - ~/bin
            - ~/.m2
          key: datapotato-{{ checksum "datapotato/build.clj" }}
      - persist_to_workspace:
          root: ./
          paths:
            - ./
  deploy:
    docker:
      - image: cimg/clojure:1.11.1-openjdk-8.0-node
    steps:
      - checkout
      - restore_cache:
          key: datapotato-{{ checksum "datapotato/build.clj" }}
      - attach_workspace:
          at: ./
      - run:
          name: Deploy datapotato to clojars
          command: cd datapotato && clojure -T:build deploy
      - run:
          name: Deploy datapotato-next-jdbc to clojars
          command: cd datapotato-next-jdbc && clojure -T:build deploy
      - run:
          name: Deploy datapotato-xtdb to clojars
          command: cd datapotato-xtdb && clojure -T:build deploy
      - run:
          name: Deploy datapotato-datomic to clojars
          command: cd datapotato-datomic && clojure -T:build deploy
      - run:
          name: Deploy datapotato-fluree to clojars
          command: cd datapotato-fluree && clojure -T:build deploy

workflows:
  version: 2
  build:
    jobs:
      - test-and-build
      - deploy:
          filters:
            branches:
              only:
                - release
          requires:
            - test-and-build
