{:paths ["src"]
 :deps
 {org.clojure/clojure {:mvn/version "1.10.0"}
  ;; TODO datapotato dep
  }

 :donut/lib {:name           party.donut/datapotato-xtdb
             :description    "datapotato adapter for xtdb"
             :github         "donut-party/datapotato"
             :version-prefix "1.0"}

 :aliases
 {:test
  {:extra-paths ["test" "../datapotato/test"]
   :extra-deps  {party.donut/datapotato               {:local/root "../datapotato"}
                 io.github.cognitect-labs/test-runner {:git/tag "v0.5.0" :git/sha "48c3c67"}
                 metosin/malli                        {:mvn/version "0.8.9"}
                 nubank/matcher-combinators           {:mvn/version "3.5.1"}
                 com.xtdb/xtdb-core                   {:mvn/version "1.21.0"}
                 }
   :exec-fn     cognitect.test-runner.api/test}

  :build
  {:deps       {io.github.donut-party/framework-build
                {:git/sha "912e0b0ffc914cf1b5824650268307062d92e40c"}}
   :ns-default donut.build}}}
