{:paths ["src"]
 :deps
 {org.clojure/clojure {:mvn/version "1.10.0"}
  ;; TODO datapotato dep
  }

 :aliases
 {:test
  {:extra-paths ["test" "../datapotato/test"]
   :extra-deps  {club.donutpower/datapotato           {:local/root "../datapotato"}
                 com.fluree/db                        {:mvn/version "1.0.4"}
                 io.github.cognitect-labs/test-runner {:git/tag "v0.5.0" :git/sha "48c3c67"}
                 metosin/malli                        {:mvn/version "0.8.9"}}
   :exec-fn     cognitect.test-runner.api/test}

  :build
  {:deps       {io.github.seancorfield/build-clj
                {:git/tag "v0.6.6" :git/sha "171d5f1"}}
   :ns-default build}}}
